@import url("/public/content/fonts/iransans/css/style.css");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}

body {
  font-family: IRANSans, serif;
}
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-card: var(--card);
  --color-hover: var(--hover);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-footerBack: var(--footerBack);
  --animate-infinite-slider: infiniteSlider 20s linear infinite;

  @keyframes infiniteSlider {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50%);
    }
  }
}

:root {
  --primary: #02a67f;
  --primary-foreground: white;
  --hover: #e8e8e8;
  --card: white;
  --card-foreground: #202020;
  --background: #f3f3f3;
  --foreground: black;
  --chatBotColor: #d5ffed;
  --muted: #494c57;
  --footerBack: white;
}
.dark {
  --primary: #4ef09d;
  --primary-foreground: white;
  --card: #272727;
  --hover: #3f3f3f;
  --card-foreground: white;
  --background: #1e1e1e;
  --foreground: white;
  --muted: #494c57;
  --chatBotColor: #015945;
  --textColor: #CAFBE2;
  --footerBack: white;
}

.card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(22, 163, 74, 0.06);
}

body {
  background-color: #f3f3f3;
}
.dark body {
  background-color: #1e1e1e;
}

.pulse {
  animation: pulse 2.2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.06);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
